* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

.container {
     margin: 0 auto;
     max-width: 1140px;
}

/* testo */

h3 {
    font-size: 24px;
}

p {
    font-size: 18px;
    line-height: 1.8;
}



/* header */
.navbar {
    background-color: #0084fd;
    padding: 10px 0;
    color: #ffffff;
    font-size: 14px;
}

.flex {
    display: flex;
    gap: 12px;
}


.text-center {
    text-align: center;
}

.spaceb {
    justify-content: space-between;
}

.navbar .flex {
    align-items: center;
}

.botton {
    cursor: pointer;
    border-radius: 60px;
}

.navbar .botton {
    background-color: #ffffff;
    color: #000000;
}

a{
    color: #ffffff;
}

li {
    list-style-type: none;
}

a,.logo {
    display: inline-block;
    padding: 8px 12px;
}


/* Main */



.smallbox {
    width: calc((100% - 24px) / 3);
    flex-shrink: 0;
    border-radius: 50px;
    padding: 25px;
}

.bigbox {
    width: calc(((100% - 24px ) / 3 ) * 2 + 12px );
    flex-shrink: 0;
    border-radius: 50px;
    padding: 25px 25px 0;
}

.colonna {
    width: calc((100% / 2) - 12px);
}

.box {
    margin: 12px 0;
}

.img {
    width: 100%;
    display: block;
}

.demoapp{
    padding: 60px 0;

}

.demoapp .flex {
    gap: 12px;
}

.center{
    text-align: center;
}


.demoapp .container .box .bigbox a.botton {
    background-color: #0084fd;
    color: #ffffff;
    padding: 8px 48px;
}

.demoapp .colonna > a.botton.space {
    margin: 40px 0;
}

.demoapp.container h3 {
    color: #0084fd;
    margin-bottom: 36px;
}

.demoapp .container p {
    color:#333333;
    font-weight: bold;
}

.demoapp .container .box .bigbox{
    background-color: #b5ddff ;

}


.demoapp .container .box .smallbox {
    background-color: #b5ddff ;
}

.demoapp .container .box .smallbox i {
    color:#0084fd;
    font-size: 80px;
    margin: 36px;
}

.box{
    flex-wrap: wrap;
}


/* Main2 */

.sezione2 {
    background-color:#9792e4;
}

.sezione2 .container .colonna h2 {
    padding: 100px 0;
}

.sezione2 .container .colonna:first-child {
    color: #ffffff;
    margin: 0 0 0 100px;
    padding: 20px;
}

.sezione2 .container.flex {
    align-items: end;
    gap: 40px;
}

.sezione2 .container .colonna:last-child {
    color:#000000;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 50px;
}

.sezione2 .container div.colonna {
    width: 50%;
}

.sezione2 .container .colonna:last-child .img {
    margin-bottom: 24px;
    width: 70%;
    margin: 0 auto;
}

.sezione2 .container .colonna:last-child .boxtext h3,
.sezione2 .container .colonna:last-child .boxtext p {
    margin-bottom: 24px;
}

.sezione2 .container .colonna .boxtext i {
    background-color: #9792e4;
    display: inline-block;
    padding: 20px;
    border-radius: 50px;
}


/* Testimonial */
.testimonial .container .box.flex {
    padding-right: 20px;
}


.testimonial .container .box h2 {
    color:#9792e4;
    padding: 16px 0;
}

.testimonial .container .box.flex {
    background-color:#9792e4;
    border-radius: 50px;
    color:#ffffff;
    align-items: center;
}

.testimonial .container .box .colonna2:first-child {
    border-radius: 50%;
    background-size: cover;
    background-image: url(img/testimonial1.jpg);
}

.testimonial .container .box.flex .img1 {
    background-image:url(img/testimonial1.jpg);
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 20px;
    flex-shrink: 0;
}

.testimonial .container .box.flex .img2 {
    background-image:url(img/testimonial2.jpg);
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 20px;
    flex-shrink: 0;
}

.testimonial .container .box.flex .img3 {
    background-image:url(img/testimonial3.jpg);
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 20px;
    flex-shrink: 0;
}

.testimonial .container .box .colonna2 p,
.testimonial .container .box.center {
    margin-bottom: 30px;
}

.testimonial .container .box .colonna2 p > i.fa-solid.fa-quote-left {
    vertical-align: top;
}

.testimonial .container .box .colonna2 p > i.fa-solid.fa-quote-right {
    vertical-align: bottom;
}